@font-face {
    font-family: "Montserrat";
    src: url(./fonts/MontserratAlternates-SemiBold.ttf)
}

:root {
    --mainFont: "Montserrat";
    --color1: #444444;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section {
    margin: 100px 0;
}

.img-lg {
    height: 600px;
}

.img-md {
    width: 300px;
}

.img-sm {
    width: 100px;
    height: 100px;
    margin: 10px 10px 10px 0;
    object-fit: cover;
    background-color: honeydew;
}

.book-name {

}

.short-desc {
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.grey {
    color: grey;
}

.book-tile {
    width: 100%;
    height: 500px;
    /*border-top-left-radius: 15px;*/
    /*border-top-right-radius: 15px;*/
    margin: 10px;
    color: black;
    text-decoration: none;
}

.book-tile div {
    height: 500px;
}

.book-tile:hover {
    color: black;
    text-decoration: none;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
}

.book-tile img {
    object-fit: cover;
    width: 100%;
    height: 300px;
    /*border-radius: 15px;*/
}

.book-tile h4 {
    font-family: var(--mainFont);
    font-size: 20px;
}

.book-tile p {
    font-family: var(--mainFont);
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.book-tile .price {
    font-family: var(--mainFont);
    font-size: 18px;
    font-weight: bold;
}

/*books.index*/

.library {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.library .book {
    height: 500px;
    width: 200px;
    margin: 30px 10px;
}

.library .book img {
    object-fit: cover;
    width: 100%;
    height: 300px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.library .book p {
    font-family: var(--mainFont);
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.library .book .price {
    font-family: var(--mainFont);
    font-size: 18px;
    font-weight: bold;
}

.library .book h4 {
    font-family: var(--mainFont);
    font-size: 20px;
}

.slick-arrow::before {
    color: var(--color1) !important;
}

.genres-slider a {
    margin: 10px;
    text-decoration: none;
    color: black;
    height: 200px;
    border-radius: 15px;
}

.genres-slider a:hover {
    text-decoration: none;
    color: black;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
}

.genres-slider img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    opacity: .3;
}

.genres-slider h4 {
    position: relative;
    text-align: center;
    font-family: var(--mainFont);
    font-size: 20px;
    bottom: 100px;
    text-transform: uppercase;
}

.tiles {
    display: flex;
    flex-wrap: wrap;
}

.tiles a {
    text-decoration: none;
    color: black;
}

.tiles a:hover {
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
}

.tiles .genre-book-tile {
    width: 300px;
    height: 500px;
    margin: 10px;
}

.tiles .genre-book-tile img {
    width: inherit;
    object-fit: cover;
    height: 300px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.tiles .genre-book-tile p {
    font-family: var(--mainFont);
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tiles .genre-book-tile h4 {
    font-family: var(--mainFont);
    font-size: 20px;
}


/*Comments*/

.comments-block {
    width: 100%;
}

.comments-block form {
    margin: 20px;
}

.comments-block textarea {
    margin-bottom: 20px;
}

.comment {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-radius: 15px;
    border: 1px solid #aaaaaa;
    margin: 20px;
}

.comment .text {
    font-size: 15px;
    padding: 10px;
}

.comment-user img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.comment-user {
    width: 120px !important;
    text-align: center;
}

.comment-user {
    padding: 5px;
    border-right: 1px solid #aaaaaa;
}

.time {
    font-size: 12px;
    color: #aaaaaa;
}

/* footer */

.top-footer {
    background-color: #629c44;
    color: #ffffff;
    min-height: 300px;
}

.top-footer div {
    min-height: 300px;
}

.top-footer .text {
    min-height: 0;
}

.top-footer button {
    padding: 5px 20px;
    border: solid #444444 2px;
    border-radius: 5px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 500;
    background-color: #72BB53;
}

.top-footer input {
    border: solid #ebebeb 2px;
    border-radius: 5px;
    padding: 5px 20px;
    margin-right: 20px;
}

.link {
    text-transform: uppercase;
    color: black;
}

.link:hover {
    color: #444444;
    opacity: 0.6;
}

.discount-block,
.promo-box .promo-box-block {
    border: 0;
    border-radius: 10px;
    padding: 30px;
}

.discount-block:hover,
.promo-box .promo-box-block:hover {
    color: #444444;
    text-decoration: none;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
}

.discount-block h4,
.promo-box .promo-box-block h4 {
    font-size: 40px;
    color: #444444;
    font-weight: bold;
}

.discount-block .up-to,
.promo-box .promo-box-block .up-to {
    font-size: 18px;
    color: #727272;
}

.discount-block h3,
.promo-box .promo-box-block h3 {
    font-size: 60px;
    color: #444444;
    font-weight: bold;
}

.discount-block .discount-p,
.promo-box .promo-box-block .discount-block {
    font-size: 15px;
    color: #444444;
}

/* Home slider */

.home-slider img {
    object-fit: cover;
    height: 80vh;
}

.home-header .home-slider-text {
    position: absolute;
    top: 20vh;
    z-index: 999;
    color: #ffffff;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}

.home-header .home-slider-text h1{
    text-align: center;
    font-size: 60px;
    font-weight:500;
}
